<div class="ngdialog-message">
    <h1>Add New Item</h1>
    <form class="form-horizontal" role="form">
        <div class="form-group" ngShow="newItemMessages.showMessage">
            <div class="col-sm-12">
                <p class="bg-danger small">
                    {{newItemMessages.message}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="addNewItemName" placeholder="Name"
                       ng-model="newItem.name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="addNewItemDescription" placeholder="Description"
                       ng-model="newItem.description">
            </div>
        </div>
    </form>

</div>
<div class="ngdialog-buttons">
    <button type="button" class="btn btn-success" ng-click="addNew()">Confirm</button>
    <button type="button" class="btn btn-danger" ng-click="closeThisDialog('button')">Cancel</button>
</div>